html {

	padding : 0;
	margin: 0;
	background-color: #eee;

}

body {

	width: 100%;
	max-width: 1024px;
	padding: 0;
	margin: 0;
	min-height: 50px;
	display: block;
	margin: auto;

}

nav {

	width: 240px;
	display: block;
	float: left;
	min-height: 90px;

}

nav div.block {

	display: block;
	height: 244px;
	width: 100%;
	margin: auto;

}

nav img {

	max-width: 60%;
	display: block;
	margin: auto;
	height: auto;

}

nav ul {

	margin: 0;
	padding: 0;
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;

}

nav ul li {

	list-style-type: none;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
	text-indent: 20px;

}

nav ul li:last-child {
	border-bottom: none;
}

main {
	
	width: calc(100% - 250px);
	display: block;
	float: right;
	min-height: 400px;
	padding-top: 10px;

}

main header {

	padding: 8px 0;
	border: 1px solid #ddd;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 4px;
	text-indent: 10px;

}

main section {

	margin-top: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	min-height: 580px;
	width: calc(100% - 30px);
	background-color: rgba(255, 255, 255, 0.9);
	padding: 15px;

}

main section block {
	
	display: none;

}

main section block.open {

	display: block;

}

main section block table {

	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

main section li {

	list-style-type: none;
	margin-bottom: 20px;

}

footer {
	
	min-height: 40px;
	clear: both;
	display: block;

}

pre {

	padding: 8px;
	width: calc(100% - 18px);
	border: 1px solid #ccc;
	border-radius: 4px;
	line-height: 20px;
	font-size: 14px;
	font-family: monospace;

}
